<table id="top-users" class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Favorite Beer</th>
    <th>Favorite Brewery</th>
    <th>Favorite Style</th>
    <th>Ratings</th>
  </tr>
  </thead>
</table>
<div id="users-loading"><%= image_tag "ajax-loader.gif" %></div>
